<!DOCTYPE html>
<html>

<head>

    <title>Sentiment Analysis System</title>

    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
        rel="stylesheet">

    <link
        rel="stylesheet"
        href="{{ url_for('static',filename='css/style.css') }}">

</head>

<body>

<div class="container mt-5">

    <div class="card shadow p-4">

        <h1 class="text-center mb-4">

            Movie Review Sentiment Analysis

        </h1>

        <form action="/predict" method="POST">

            <textarea
                class="form-control"
                rows="8"
                name="review"
                placeholder="Enter movie review..."
                required>

            </textarea>

            <div class="text-center mt-4">

                <button
                    class="btn btn-primary">

                    Analyze Sentiment

                </button>

            </div>

        </form>

    </div>

</div>

</body>

</html>